<h1 class="page-header">Battleship</h1>

<h2 class="text-center">Select your player</h2>

<div class="row">
		<div class="col-xs-6">
			<%= link_to 'Player 1', '/games/1', :class=> "btn btn-lg btn-primary pull-right" %>
		</div>
		<div class="col-xs-6">
			<%= link_to 'Player 2', '/games/2', :class=> "btn btn-lg btn-success" %>
		</div>
	</div>
</div>