<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th colspan="1"></th>
			<% 'ABCDEFGHIJ'.each_char do |i| %>
				<th><%= i %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% (1..10).each do |y| %>
			<tr>
				<td><%= y %></td>
				<% (1..10).each do |x| %>					
					<td></td>
				<% end %>				
			</tr>
		<% end %>
	</tbody>
</table>