<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th colspan="1"></th>
			<% 'ABCDEFGHIJ'.each_char do |i| %>
				<th><%= i %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% (1..10).each do |y| %>
			<tr>
				<td><%= y %></td>
				<% (1..10).each do |x| %>					
					<% @guess = find_guess(x, y, @game.guesses) %>
					<% unless @guess %>
						<td class="text-center" colspan="1"></td>
					<% else %>
						<td class="text-center"> <%= hit_or_miss(@guess.status) %></td>
					<% end %>
				<% end %>				
			</tr>
		<% end %>
	</tbody>
</table>