<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th colspan="1"></th>
			<% 'ABCDEFGHIJ'.each_char do |i| %>
				<th><%= i %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% (1..10).each do |y| %>
			<tr>
				<td><%= y %></td>
				<% (1..10).each do |x| %>
					<% @ship = find_ship(x, y, @game.ships) %>
					<td class="text-center <%=  @ship? ship_name_bg_class(@ship.name): '' %>">
						<% @guess = find_guess(x, y, @opponent.guesses) %>
						<% if @guess %>
						 	<%= hit_or_miss(@guess.status) %>
						<% end %>						
					</td>
				<% end %>			
			</tr>
		<% end %>
	</tbody>
</table>